body{
  background-color: #EDF1F4;
}

#pills-home-tab{
  width: 249.48px;
  height: 72px;
  border-radius: 12px;
  
}

.nav-item .nav-link{
  background-color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  color: #0B305D;
  line-height: 24px;
  margin-right:33.48px;
  
}
#pills-profile-tab{
  width: 201.96px;
  height: 72px;
  border-radius: 12px;
  box-shadow: 0px 6px 24px rgba(11, 48, 93, 0.2);
}
#pills-contact-tab{
  box-shadow: 0px 6px 24px rgba(11, 48, 93, 0.2);
  width: 617.76px;
  height: 72px;
  border-radius: 12px;
}
.nav .nav-item .active{
font-weight: 600;
font-size: 18px;
line-height: 24px;
background-color: #EDF3FF;
box-shadow: 0px 6px 24px rgba(11, 48, 93, 0.2);
color: #0B305D;
}
.tab-content{
  max-width: 1350px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 22px 36px;
  margin: 40px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #626874;

}
.accordion{
  margin-top: 200px;
}
.accordion .accordion-item{
  margin-bottom: 24px;
  max-width: 1350px;
  border-radius: 12px;
}


.accordion-button{
  border-radius: 12px !important;
  color:  #0B305D;
  min-height: 72px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.accordion-body{
  margin-top: 20px;
  max-width:1232px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #626874;

}
.accordion-button:not(.collapsed)::after{
  background-image: url(../img/dash.svg);
}
.accordion-button::after{
  background-image: url(../img/plus-lg.svg);
}

.accordion-button:not(.collapsed) {
  background-color: inherit;
  color: #0B305D;
  
}
.accordion-item:has(.show) {
  box-shadow: 0px 6px 24px rgba(11, 48, 93, 0.2);
}
.accordion-button:focus{
  border: none;
  box-shadow: none;
}


