.main-flex-box{
  padding: 0 80px;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 80px;
  margin:50px auto;
  margin-bottom: 80px;
}
.example_title{
  font-size: 40px;
 margin-bottom: 20px;
}
.example_list-item{
  width: 65px;
  height: 65px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}
.example_list-item2{
  width: 65px;
  height: 30px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}

.example_list-item3{
  width: 65px;
  height: 85px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}
.example_list-item4{
  width: 65px;
  height: 110px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}
.example_list-item5{
  width: 65px;
  height: 90px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}
.example_list-item6{
  width: 65px;
  height: 160px;
  font-size: 24px;
  background-color: rgba(134, 249, 93, 0.675);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(2, 2, 2, 0.688);
  
}
.container{
  background-color: rgba(255, 247, 9, 0.886);
  margin-bottom: 40px;
  padding: 30px 30px;
  
}

.flex_row{
  display: flex;
  flex-direction: row;
  
}
.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.colum{
  display: flex;
  flex-direction: column;
}
.colum-reverse
{
  display: flex;
  flex-direction: column-reverse;
}
.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around{
  display: flex;
  justify-content: space-around;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}

.xflex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-centre{
  display: flex;
  justify-content: center;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.order{
  display: flex;
  justify-content: center;
}
.number1{
  background-color: rgba(202, 31, 31, 0.648);
  order: -3;
  flex-grow: 3;
}
.number2{
  order: -1;
  background-color: rgba(0, 0, 255, 0.615);
  flex-grow: 2;
}
.number6{
  order: 3;
  background-color: rgba(0, 255, 221, 0.656);
}
.align-flex-start{
  display: flex;
  align-items: flex-start;
}
.align-flex-end{
  display: flex;
  align-items: flex-end;
}
.align-flex-center{
  display: flex;
  align-items: center;
}
