*{
  box-sizing: border-box;
}
.castom_form{
  margin: 90px auto 120px;
  max-width: 467px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
}
.custom:focus-visible {
  outline:invert;
  box-shadow:0 0 0 5px rgba(255, 230, 0, 0.719);
  border-radius: 5px;
  background-color: rgb(255, 0, 234);
  color: blue;
  border: 2px solid rgb(220, 27, 27);
}


.elements_btn:hover{
  background-color: rgb(255, 0, 234);
  color: blue;
}
.elements_btn:active{
  background-color: #000;
}
.elements_btn:focus{
  outline:invert;
  background-color: aquamarine;
  box-shadow:0 0 0 5px rgb(223, 252, 0);
  border-radius: 5px;
}

.btn{
  background-color: rgba(153, 153, 153, 0.442);
}

#cars {
  max-width: calc(100% - 24px);
  margin: 0 auto;
}

.nice-select {
  width: calc(100% - 24px);
  margin: 12px auto;
  
}
.nice-select .list {
  width: 100%;
} 
body,html{
  height: 100%;
}
.parallax {
  /* The image used */
  background-image: url(../img/parallax.png);

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallx_form{
  background-image: url(../img/parallax2.jpg);
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}