* {
  box-sizing: border-box;
}

.conteiner {
  max-width: 1440px;
}

hr {
  border: none;
  /* Убираем границу */
  background-color: rgba(202, 200, 200, 0.516);
  /* Цвет линии */
  color: rgba(202, 200, 200, 0.516);
  /* Цвет линии для IE6-7 */
  height: 2px;

}

.logo-img {
  padding-top: 33px;
  padding-left: 165px;
}

.banner {
  width: 1440px;
  height: 860px;
  background-image: url(../img/banner.png);
  background-color: white;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.banner-content {
  height: 92px;


}


.content-menu {
  margin-left: 600px;
  margin-right: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  text-decoration: none;
  display: inline-block;
  width: 31px;
  height: 90px;
  color: #FFFFFF;

}

.content-recipes {
  width: 44px;
  height: 90px;
  margin-right: 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;

}

.content-chefs {
  width: 32px;
  height: 90px;
  margin-right: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
}

.content-contacts {
  width: 39px;
  height: 90px;
  margin-right: 55px;

  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
}

/* menu*/
.cooking-title {
  margin-top: 80px;
}

.cooking-main {
  margin-left: 170px;
  width: 1100px;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.1em;
  display: inline-block;
  text-transform: capitalize;
}

.cooking-secondary {
  margin: 16px 422px 0 423px;
  width: 595px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  color: #ffffffa1;
}

.cooking-button {
  margin: 40px 610px 0 610px;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 25px 45px;
  background-color: #34C759;

}

/*infi*/
.time-items {}

.info-centre {
  margin: 70px 263px 0 262px;
  display: flex;
  justify-content: space-between;
}

.time-item {
  width: 245px;
  height: 95px;
}

.info-title {
  padding-top: 13px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.info-sub-title {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
}

.info-centre-img {
  padding: 2px 109.45px 0 109.45px;

}