* {
	box-sizing: border-box;
}
body {
	background: rgb(70, 70, 70);
}
label {
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 5px;
}
.checkbox-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	outline: none;
}

.checkbox-input:before {
	content: " ";
	text-align: center;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
	display: inline-block;
	position: absolute;
	border-radius: 20%;
	background-color: #b8b9c4;
}

.checkbox-input:checked:after {
	content: "✔";
	text-align: center;
	width: 20px;
	height: 20px;
	left: 0;
	top: 2px;
	display: inline-block;
	position: absolute;
	border-radius: 20%;
}
.range-round {
	-webkit-appearance: none;

	height: 7px;
	border-radius: 5px;
	background: rgb(177, 174, 174);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.range-round::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgb(108, 105, 105);
	box-shadow: none;
	cursor: pointer;
}
.range-round.disabled::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ccc;
}
.range-round::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgb(82, 81, 81);
	box-shadow: none;
	cursor: pointer;
}
.range-round:hover:not(.disabled) {
	opacity: 1;
}
.users {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0 120px;
}
.sort-container {
	padding: 64px 51px;
	max-width: 1350px;
	margin: 100px auto;
	color: rgb(146, 149, 151);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #464646;
	box-shadow: inset 5px 5px 9px #303030, inset -5px -5px 9px #535353;
}

.radio-row {
	display: flex;
	align-items: end;
}
.radio-row div {
	display: flex;
	margin-right: 35px;
}
.user {
	border-radius: 15px;
	background: #464646;
	box-shadow: inset 5px 5px 9px #303030, inset -5px -5px 9px #535353;
	padding: 25px;
	border-radius: 5px;
	text-align: right;
	position: relative;
}

.person-photo {
	margin-bottom: 12px;
}

.person-photo img {
	border-radius: 15px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.person-name {
	font-size: 24px;
	margin-bottom: 12px;
}

.person-id {
	position: absolute;
	bottom: 77px;
	left: 30px;
	font-size: 24px;
	color: #b8b9c4;
}

.person-id span {
	font-weight: 900;
}

.person-age {
	font-size: 20px;
	margin-bottom: 8px;
}
