.container{
  padding: 0 90px;
}
.parallax {
  /* The image used */
  background-image: url(../img/parallax.png);

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nth-example {
  background-color: #e4f6e4;
  padding: 90px 12px 130px;
  margin: 48px 0 96px;
}

.nth-example-row {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.nth-example-row__item {
  width: 55px;
  height: 55px;
  background: rgb(71, 179, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
}

.first-child .nth-example-row__item:first-child{
background-color: red;
}
.last-child .nth-example-row__item:last-child{
  background-color: red;
}
.odd_child .nth-example-row__item:nth-child(odd){
  background-color: red;
}
.even_child .nth-example-row__item:nth-child(even){
  background-color: red;
}
.five_child .nth-example-row__item:nth-child(5){
  background-color: red;
}
.nth-child_3n .nth-example-row__item:nth-child(3n) {
  background-color: red;
}
.nth-child_3n\+4 .nth-example-row__item:nth-child(3n+4){
  background-color: red;
}
.nth-child_-n\+3 .nth-example-row__item:nth-child(-n+3){
  background-color: red;
}
.n .nth-example-row__item:nth-child(n){
  background-color: red;
}
.star * { color: rgb(111, 255, 0); }

h4 + strong{
  color: purple;
}
.nth-example-row .test {
  border: 1px solid red;
  padding: 20px;
}
.nth-example-row > .test {
  border: 1px solid red;
  padding: 20px;
}
.nth-example-row-p > .test {
  border: 1px solid rgb(0, 195, 255);
  padding: 20px;
}
.linda~strong{
  color: purple;
}
a[href^="http"]{
  color: gold;
}
.nth-example-row-s * :not(#lorem_id) {
  color: green;
  }
a[data-filetype="image"]{
  color: aqua;
}
