* {
  box-sizing: border-box;
}

.parallax {
  background-image: url(../img/bacgroun_home16.jpg);
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 50px auto;
  font-size: 90px;
  color: aliceblue;
}

h4 {
  color: aliceblue;
}

.container_slider {
  padding: 20px 60px;
  position: relative;
  margin-bottom: 100px;

}

.img_slider1 {
  width: 100%;
  max-height: 450px;
  margin: 0 auto 24px;
  border-radius: 15px;

}

.single-item {
  max-width: 780px;
  margin: 0 auto;


}

.slick-slide {
  font-size: 64px;
  text-align: center;
}


ul.slick-dots {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;

}

ul.slick-dots button {

  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  font-size: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(139, 241, 241);

}

ul.slick-dots li {
  display: flex;
  padding: 0;
  margin: 0 10px 0 0;
}

li.slick-active button {
  background-color: rgb(225, 33, 107);
  transform: scale(1.3, 1.3);
  transition: transform 0.5s ease-in;

}

button.slick-arrow {
  position: absolute;
  left: 0;
  background-image: url(../img/chevron-double-left.svg);
  width: 50px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 50px 80px;
  font-size: 0;
  border: none;
  background-color: rgba(0, 0, 255, 0);
  top: 36%;
  z-index: 1;
}

button.slick-next.slick-arrow {
  left: inherit;
  right: 0;
  background-image: url(../img/chevron-double-right.svg);
}

/* second slider*/
.single-item-two {
  max-width: 970px;
  margin: 0 auto;
}

.single-item-two .slide-items {
  padding: 50px 10px;

}

.single-item-two .img_slider1 {
  min-height: 270px;
}

.single-item-two button.slick-arrow {
  left: -40px;
}

.single-item-two button.slick-next.slick-arrow {
  left: inherit;
  right: -40px;
}

/*timing*/
.time_container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: rgba(4, 191, 237, 0.369);
  font-weight: 100;
  border-radius: 20px;
  margin-bottom: 100px;
}

.time_item {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 100px;
  color: #db4844;
}

#hours {
  font-size: 100px;
  color: #f07c22;
}

#minutes {
  font-size: 100px;
  color: #f6da74;
}

#seconds {
  font-size: 50px;
  color: #abcd58;
}