*{
  box-sizing: border-box;
 
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
}
h2{
  
  padding: 30px;
  text-align: center;
  font-size: 80px;
  color: aliceblue;
  background-color: rgb(33, 33, 36);
  box-shadow:0 0 150px rgba(112, 48, 250, 0.696);
  
   
}
.first-screen-space{
  background: url(../img/background_space.png) center/cover no-repeat;
  height: 100vh;
}
.ufo_1{
  width: 185px;
  transform-box: fill-box;
  transform:rotate(160deg);
  transform-origin: 50% 50%;
  offset-path: path('M485.619 507.734C297.369 453.294 187.55 310.793 233.383 158.338C300.279 -64.1765 688.813 204.291 981.814 200.494C1220.04 197.406 1482.23 -7.58028 1589.52 158.338C1673.18 287.725 1683.59 512.987 1452.41 593.456C1277.67 654.284 1244.61 502.676 964.133 533.438C757.295 556.123 681.463 564.369 485.619 507.734Z');
  animation: fly-space 15s linear infinite;
  opacity:0.3;
}
@keyframes fly-space{
  10%{
    
    transform:rotate(90deg);
  }
  20%{
   
    transform:rotate(0deg);
  }
  40%{
    transform:rotate(-30deg);
    
  }
  50%{
    transform:rotate(0deg);
  }
  70%{
    transform:rotate(-90deg);
  }
  80%{
    offset-distance: 70%;
  }
  80%{
    transform:rotate(-200deg);
  }

  100%{
    offset-distance: 100%;
   
  }
}
.ufo_3{
  width: 115px;
  transform-box: fill-box;
  transform:rotate(200deg);
  transform-origin: 50% 50%;
  offset-path: path('M495.821 142.765C206.226 97.2966 64.7116 478.436 495.821 490.242C926.93 502.047 1000.22 164.287 1454.19 142.765C1908.17 121.243 1784.19 530.261 1454.19 490.242C1124.19 450.222 785.416 188.233 495.821 142.765Z');
  animation: fly-space-ufo3 20s linear infinite;
  opacity:0.7;
}
@keyframes fly-space-ufo3{
  20%{
    transform:rotate(0deg);
    offset-distance: 30%;
  }
  50%{
    transform:rotate(30deg);
  }
  70%{
    transform:rotate(180deg);
    offset-distance: 80%;
  }
  100%{
    offset-distance: 100%;
  }
}
.ufo_6{
  width: 120px;
  transform-box: fill-box;
  transform:rotate(150deg);
  transform-origin: 50% 50%;
  offset-path:path('cx="875" cy="871" r="649.5"');
  offset-path: path('M693.314 590.593C607.946 585.828 693.314 498.002 587.17 443.602C470.478 383.796 798.141 385.859 672.413 331.694C543.848 276.306 524.878 456.037 420.373 297.499C363.73 211.57 231.763 335.759 197.021 297.499C152.384 248.343 184.604 191.078 271.608 163.165C382.44 127.607 456.391 291.132 560.122 249.761C637.345 218.962 507.255 132.523 693.314 147.844C879.373 163.165 670.004 273.289 805.196 273.075C940.113 272.861 850.686 147.844 1006.42 139.629C1162.15 131.413 1069.19 299.664 1193.71 273.075C1293.17 251.834 1223.21 129.193 1398.62 139.629C1549.76 148.621 1457.63 212.014 1561.73 259.753C1665.82 307.491 1690 370.773 1690 417.179C1690 472.792 1690 581.267 1588.36 581.267C1476.7 581.267 1587.13 421.399 1398.62 443.602C1303.91 454.757 1428.94 600.632 1258.46 607.912C1162.01 612.031 1241.25 469.803 1131.41 469.803C1043.23 469.803 1061.14 592.238 974.042 599.697C881.161 607.651 974.042 438.495 814.621 438.495C670.774 438.495 856.423 599.697 693.314 590.593Z');
  animation: fly-space-ufo5 35s linear infinite;
}

@keyframes fly-space-ufo5{
 25%{
  transform:rotate(0deg);
 }

  100%{
    offset-distance: 100%;
  }
}
.rocket{
  width: 130px;
  transform-box: fill-box;
  transform:rotate(90deg);
  transform-origin: 50% 50%;
  offset-path: path('M77.6251 353.134C117.159 427.932 199.927 473.973 312.646 471.935C437.241 469.683 604.438 397.537 545.557 317.383C486.677 237.228 366.397 193.628 382.974 297.272C399.55 400.916 487.522 421.086 691.722 462.625C895.922 504.163 1112.86 328.555 1030.32 272.693C947.773 216.83 829.474 201.189 730.109 258.541C630.744 315.893 713.561 394.219 978.799 440.652C1244.04 487.085 1594.93 333.344 1424.13 258.541C1322.14 213.874 1161.25 225.768 1117.08 258.541C1072.91 291.313 1093.94 331.907 1354.73 373.99C1615.51 416.073 1873.44 263.236 1755.89 148.678C1663.7 58.8353 1441.62 44.3068 1354.73 136.761C1253.18 244.81 1622.96 398.537 1755.89 309.189C1794.8 283.038 1806.88 260.84 1824.77 225.023C1920.44 33.4434 1381.57 95.0871 1100.78 136.761C1018.35 148.994 979.936 184.81 895.727 184.058C785.531 183.074 748.776 80.5393 641.254 97.6572C566.228 109.602 561.532 171.588 486.677 184.058C370.08 203.481 325.624 47.9843 215.904 82.0158C146.537 103.531 129.138 142.675 100.229 192.251C66.199 250.608 46.3716 294.003 77.6251 353.134Z');
  animation: fly-space-rocket 25s linear infinite;
}
.animation2{
  width: 90px;
  animation-delay: 0.5s;
}
.animation3{
  width: 60px;
  animation-delay: 0.9s;
}
.animation4{
  width: 30px;
  animation-delay: 1.2s;
}
.ufo_6:hover,.ufo_3:hover,.ufo_1:hover,.rocket:hover{
  transform: scale(3,3);
  opacity: 1;
 
  
  
}
@keyframes fly-space-rocket{
  
   100%{
     offset-distance: 100%;
   }
 }
 .cow-ufo{
  width: 200px;
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transform:rotate(90deg) translate(0,0);
  offset-path: path('M928 1069.5C980.872 760.41 1031.62 592.886 928 241V21');
  animation: fly-space-rocket 15s linear infinite;
  
}
.cow-ufo:hover{
 
  transform: rotate(720deg);
  transition: 5s;
  opacity: 1;
  
  
}
.fly-ufo-1{
  width: 160px;
  animation-duration: 20s;
  transform:rotate(120deg) translate(0,0);
  offset-path: path('M246.5 975C189.868 706.015 186.154 556.613 246.5 293.5V36.5');
  opacity:0.5;
}
.fly-ufo-2{
  transform:rotate(120deg) translate(0,0);
  width: 100px;
  animation-duration: 10s;
  offset-path: path('M565.5 972.5C511.237 702.626 507.651 554.13 565.5 296V41');
  opacity:0.7;
}
.fly-ufo-3{
  width: 160px;
  animation-duration: 20s;
  transform:rotate(120deg) translate(0,0);
  offset-path: path('M1618 1016.5C1689.42 744.176 1692.85 588.557 1618 304.5V36.5');
  opacity:0.5;
}
.fly-ufo-4{
  width: 100px;
  animation-duration: 10s;
  transform:rotate(120deg) translate(0,0);
  offset-path: path('M1332 1016.5C1407.95 730.832 1403.34 570.668 1332 285V52');
  opacity:0.7;
}
.second-screen-cow{
  
  height: 100vh;
}

.space-screen-cow{
  background: url(../img/backgound_ufo3.png) center/cover no-repeat;
  height: 100vh;
  
}
.space-screen-cow-box{
  max-width: 80%;
}

/*/////*/
#cow-main:hover #header{
  transform-box: fill-box;
  transform:rotate(184deg) translate(-111px, -70px);
  offset-path: path('M471.5 737.5H457C457 737.5 532.606 494.659 660.5 425C771.408 364.592 983 401 983 401C983 401 1131.81 505.16 1136 604.5C1142.89 768.063 751.5 771.5 751.5 771.5C751.5 771.5 581.648 738.149 471.5 737.5Z');
  animation: cow-animation 5s linear ;
  animation-iteration-count: calc(1);
}
@keyframes cow-animation{
  10%{
    transform: scale(1.5, 1.5);
    fill: rgb(255, 0, 247);
   
  }
  20%{
   
    fill: rgb(4, 0, 255);
  }
  30%{
    transform: scale(1.7, 1.7);
    fill: rgb(0, 234, 255);
    
  }
  40%{
    fill: rgb(0, 255, 38);
    transform: scale(1.3, 1.3);
    
  }
  50%{
    fill: rgb(225, 255, 0);
    transform: scale(1.7, 1.7);
  }
  60%{
    fill: rgb(255, 196, 0);
   

  }
  70%{
    fill: rgb(255, 13, 0);
    transform: scale(1.7, 1.7);
  }
  80%{
    fill: rgb(183, 0, 255);
  }
  90%{
    fill: rgb(251, 255, 0);
    transform: scale(1.2, 1.2);
  
  }
  100%{
    offset-distance: 100%;
    fill: rgb(252, 16, 4);
  }
}
#cow-main:hover #Vector_9{
  animation: cow-animation-glass 1s linear infinite;
}
@keyframes cow-animation-glass{
  50%{
    fill: rgb(198, 4, 252);
  }
  100%{
    fill: rgb(252, 16, 4);
  }
}
#cow-main:hover {
  
}
#cow-main:hover #footer{
  animation: cow-animation-body 2s infinite;
 
}
@keyframes cow-animation-body{
  10%{
    
    fill: rgb(255, 0, 247);
  }
  20%{
    fill: rgb(4, 0, 255);
  }
  30%{
    fill: rgb(0, 234, 255);
    
  }
  40%{
    fill: rgb(0, 255, 38);
   
    
  }
  50%{
    fill: rgb(225, 255, 0);
   
  }
  60%{
    fill: rgb(255, 196, 0);
   

  }
  70%{
    fill: rgb(255, 13, 0);
   
  }
  80%{
    fill: rgb(183, 0, 255);
  }
  90%{
    fill: rgb(251, 255, 0);
    
  
  }
  100%{
   
    fill: rgb(252, 16, 4);
  }
}

#cow-main:hover .box-cow{
  fill:aqua;
  opacity: 0.5;
}

/*//////solar system////*/ 
.screen-solar{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.solar-system{
 max-width: 60%;
}
#Uranus-planet{
  transform-box: fill-box;
  transform:translate(0px,-17px);
  offset-path: path('M874.5 120C1296.73 120 1639 456.01 1639 870.5C1639 1285 1296.73 1621 874.5 1621C452.278 1621 110 1285 110 870.5C110 456.01 452.278 120 874.5 120Z');
  animation: solar 30s linear infinite;
}
@keyframes solar{
  50%{
    transform:translate(0px,-30px);
  }
  70%{
    transform:translate(0px,-17px);
  }
  100%{
    offset-distance: 100%;
  }
}
#Uranus-planet_2{
  transform-box: fill-box;
  transform:translate(0px,-39px);
  offset-path: path('M874.5 235C1231.56 235 1521 519.523 1521 870.5C1521 1221.48 1231.56 1506 874.5 1506C517.447 1506 228 1221.48 228 870.5C228 519.523 517.447 235 874.5 235Z');
  animation: solar-2 50s linear infinite;
}
@keyframes solar-2{
  
  100%{
    offset-distance: 100%;
  }
}
#Saturn-planet{
  transform-box: fill-box;
  transform:translate(0px,-39px);
  offset-path: path('M874.5 322C1183.51 322 1434 567.572 1434 870.5C1434 1173.43 1183.51 1419 874.5 1419C565.497 1419 315 1173.43 315 870.5C315 567.572 565.497 322 874.5 322Z');
  animation: solar-2 20s linear infinite;
}
#Jupiter-planet{
  transform-box: fill-box;
  transform:translate(0px,-11px);
  offset-path: path('M874.5 408C1134.35 408 1345 615.068 1345 870.5C1345 1125.93 1134.35 1333 874.5 1333C614.65 1333 404 1125.93 404 870.5C404 615.068 614.65 408 874.5 408Z');
  animation: solar-2 30s linear infinite;
}
#Mars-palent{
  transform-box: fill-box;
  transform: translate(0px,32px);
  offset-path: path('M874.5 495C1086.3 495 1258 662.893 1258 870C1258 1077.11 1086.3 1245 874.5 1245C662.698 1245 491 1077.11 491 870C491 662.893 662.698 495 874.5 495Z');
  animation: solar-2 15s linear infinite;
}
#Venus-planet{
  transform-box: fill-box;
  transform:rotate(0deg) translate(0,-9px);
  offset-path: path('M874.5 697C971.975 697 1051 774.678 1051 870.5C1051 966.322 971.975 1044 874.5 1044C777.021 1044 698 966.322 698 870.5C698 774.678 777.021 697 874.5 697Z');
  animation: solar-2 20s linear infinite;

}
#Earth-planet{
  transform-box: fill-box;
  transform:rotate(0deg) translate(0,-9px);
  offset-path: path('M874.5 609C1020.57 609 1139 726.078 1139 870.5C1139 1014.92 1020.57 1132 874.5 1132C728.421 1132 610 1014.92 610 870.5C610 726.078 728.421 609 874.5 609Z');
  animation: solar-2 10s linear infinite;

}
#Mercury-planet{
  transform-box: fill-box;
  transform:rotate(0deg) translate(0,9px);
  offset-path: path('M875 770C931.88 770 978 815.443 978 871.5C978 927.557 931.88 973 875 973C818.115 973 772 927.557 772 871.5C772 815.443 818.115 770 875 770Z');
  animation: solar-2 5s linear infinite;

}
.sun-solar{
  width: 150px;
  
  transform:rotate(0deg) translate(802px,794px);
  
}
@keyframes solar-3{
  
  from {
    box-shadow: 0 0 55px 200px #558ed1;
    }
    to {
    box-shadow: 0 0 90px 200px #558ed1;
    }
    }


/*solar two*/
.second-solar{
  background-color: black;
  height: 100vh;
}
.solar{
  
  width: 200px;
  transform:rotate(0deg) translate(950px,420px);
}
.mercury{
  offset-path:path('M1331 522.5C1331 533.533 1323.36 544.255 1309.03 554.18C1294.74 564.084 1273.98 573.043 1248.24 580.584C1196.78 595.661 1125.63 605 1047 605C968.367 605 897.216 595.661 845.756 580.584C820.019 573.043 799.264 564.084 784.966 554.18C770.638 544.255 763 533.533 763 522.5C763 511.467 770.638 500.745 784.966 490.82C799.264 480.916 820.019 471.957 845.756 464.416C897.216 449.339 968.367 440 1047 440C1125.63 440 1196.78 449.339 1248.24 464.416C1273.98 471.957 1294.74 480.916 1309.03 490.82C1323.36 500.745 1331 511.467 1331 522.5Z');
  
  animation: solar 15s linear infinite;
}
