:root {
    --color_index1: rgba(64, 64, 238, 0.987);
    --color_index0: rgba(127, 255, 212, 0.697);
    --main_block_w: 450px;
    --size: 200px;
    --block: -70px;
    --font: 100px;
    --new_border: 10px solid rgba(16, 4, 4, 0.782);
}



.container {
    padding: 0 90px;
    display: flex;
    flex-direction: column;


}

h1 {
    margin: 50px 0 150px 0;
    font-size: var(--font);
}

.example {
    width: var(--main_block_w);
    height: 450px;
    border: var(--new_border);
    margin: 100px auto;
    background-color: rgba(249, 249, 18, 0.871);
    position: relative;
    display: flex;
    justify-content: center;
    /* z-index-1 относительно этого блока станет */

}

h2 {
    margin-top: 10px;
    font-size: 40px;
}

.example_item {
    width: calc(var(--size) * 2);
    height: calc(var(--size) + var(--size));
    border: 7px solid rgb(236, 244, 11);
    position: relative;
    background-color: rgb(104, 36, 168);
    display: flex;
    justify-content: center;

}

.page-z-index .index_-1 {
    z-index: -1;
}

.page-z-index .index_1 {
    z-index: 1;
}

.page-z-index .index_0 {
    z-index: 0;
}

.example_item.index_-1 {
    position: absolute;
    top: -170px;
    right: -170px;
}

.example_item.index_0 {
    position: absolute;
    top: var(--block);
    right: var(--block);
    background-color: var(--color_index0);
}

.example_item.index_1 {
    position: absolute;
    top: 170px;
    right: 170px;
    background-color: var(--color_index1);
}